body {
    font-family: 'Chelsea Market', fantasy !important;
    width: 100%;
    max-width: 1400px;
    margin: 0;
    padding: 0;
    background-color:#DC143C !important;
  }
  html {
    scroll-behavior: smooth;
  }
  
  li, a {
    text-decoration: none;
    list-style: none;
    color: inherit;
  }
  li {
    cursor: pointer;
  }
  
  header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    background-color: #ffffff;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    transition: opacity 0.3s ease-in-out; /* Smooth opacity transition */
  }
  
  .heading-wrap h2 {
    font-size: 3.7rem;
  }
  
  .heading-wrap li {
    white-space: nowrap;
    font-size: 1.5rem;
  }
  
  .main {
    height: 200vh; 
    padding-top: 30vh; 
   
  }
  
  .para{
    width:850px;
    font-size: 20px;
    line-height: 1.9em;
    text-align: center;
  }
  
  
  .who-are-u-section{
    width:100%;
    
    background-color: #fff0ec;
  }
  .my-project-section{
      width:100%;
    background-color: #ffffff;
  }
  
    .gallery-section {
        padding: 80px 0;
        background-color: pink;
      width:100%;
      }
      
      .gallery-title {
        margin-bottom: 40px;
        text-align: center;
      }
      
      .insta-post {
        margin-bottom: 30px;
        border-radius: 8px;
        overflow: hidden;
        transition: transform 0.3s ease;
        box-shadow: 0 6px 12px rgba(0,0,0,0.1);
      }
      
      .insta-post:hover {
        transform: translateY(-5px);
      }
      
      .post-img-container {
        position: relative;
        padding-bottom: 100%; /* 1:1 Aspect Ratio */
        background-color: #f8f8f8;
        overflow: hidden;
      }
      
      .post-img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-position: right center;
        object-fit: cover;
      }
      
      .post-info {
        padding: 15px;
        background-color: white;
      }
      
      .post-caption {
        font-size: 0.9rem;
        margin-bottom: 10px;
        line-height: 1.4;
      }
      
      .post-meta {
        display: flex;
        justify-content: space-between;
        font-size: 0.8rem;
        color: #888;
      }
      
     
      @media (max-width: 767px) {
        .col-md-4 {
          margin-bottom: 20px;
        }
      }

      .fa {
        font-size: 50px;
        transition: font-size 1s ease;
      }
      
      .fa:hover {
        font-size: 60px;
        color: #DC143C;
      }
      